@model IEnumerable<ProyectoBeta.Models.VentasDetalle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VentaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicinaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medicina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descuento)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VentaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicinaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetalleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetalleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetalleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
